:root {
  --bg-color: #f1faee;
  --primary: #e63946;
  --text: #1d3557;
  --font-base: 'Inter', sans-serif;
}
body {
  margin: 0;
  background-color: var(--bg-color);
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--text);
  font-family: var(--font-base);
}


nav {
  background: var(--primary);
  padding: 10px 20px;
}
nav a {
  color: white;
  margin-right: 16px;
  text-decoration: none;
}
